body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
}

h6 {
  font-weight: 500;
}

input {
  font-weight: 500;
}

.sidebar {
  background-color: #f4f4f4;
  height: auto;
}

.listed-issues {
  padding-left: 0.5rem;
}

.addIssueBtn {
  background-color: #00ffcc;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  margin-left: 0.25rem;
  padding: 0.15rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  transition: 0.15s;
}

.addIssueBtn:hover {
  background-color: rgb(127, 255, 229);
}

.issue-item:not(:first-child){
  border-top: 2px solid #e2e3e3;
}

.issue-item:nth-child(even){
  background-color: #ebebeb;
}

.issue-item {
  padding: 0.5rem;
  transition: 0.15s;
  display: flex;
}

.issue-item:hover {
  background-color: #dedede;
}

input[type=text]{
  border: none;
  padding: 0.15rem;
  background-color: transparent;
  transition: 0.15s;
  overflow-block: auto;
}

input[type=text]:focus {
  background-color: white;
}

.issue-time{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 9pt;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: #c1c1c1 2px solid;
}

.actions {
  margin: auto;
}

.edit {
  background-color: #ffe100;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  margin-left: 0.5rem;
  padding: 0.15rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  transition: 0.15s;
}

.edit:hover {
  background-color: #ffed69;
}

.delete {
  background-color: #ff0033;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  margin-left: 0.5rem;
  padding: 0.15rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  transition: 0.15s;
}

.delete:hover {
  background-color: #ff6c8c;
}

.image-map.nightMode {
  filter: invert(100%);
}

#new-issue-form {
  padding-left: 0.5rem;
  padding-bottom: 2rem;
  border: none ;
}

#selectionDisplay {
  font-weight: 700;
  padding-left: 0.5rem;
}
